<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.icddrb.ibd" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GPS" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.problemio.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="SmsSentReceiver" />
        <receiver android:name="SmsDeliveredReceiver" />

        <activity android:name=".SettingForm" android:label="Setting Form"/>
        <activity android:name=".mainmenu" android:label="Main Menu"/>
        <activity android:name=".MainActivity" android:label="IBD: Bari List"/>
        <activity android:name=".HouseholdIndex" android:label="শিশুর তালিকা"/>
        <activity android:name=".HouseholdIndex_Outside" android:label="শিশুর তালিকা"/>
        <activity android:name=".FollowUpVisit" android:label="সাপ্তাহিক পরিদর্শন"/>
        <activity android:name=".ChildRegistration" android:label="শিশু নিবন্ধন"/>

        <activity android:name=".AssNewBorn" android:label="এসেসমেন্ট (নবজাতক - ০ থেকে ২৮ দিন)"/>
        <activity android:name=".AssPneu" android:label="এসেসমেন্ট (২৯ দিন থেকে ৫৯ মাস)"/>
        <activity android:name=".RSV" android:label="আর এস ভি কমিউনিটি গবেষণা"/>
        <activity android:name=".NonComp" android:label="রেফারেলের ফলাফল"/>
        <activity android:name=".DSSMember" android:label="Member List (DSS)"/>
        <activity android:name=".WebReports" android:label="Reports"/>
        <activity android:name=".VHWReports" android:label="VHW Reports"/>
        <activity android:name=".MemSearch" android:label="Search DSS Member"/>
        <activity android:name=".data_GAge" />

        <service android:name=".Sync_Service" />

        <receiver android:name=".SmsDeliveredReceiver" />
        <receiver android:name=".SmsSentReceiver" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
